<a href="https://colab.research.google.com/github/harshsinha-12/IITP_CS_Sem1/blob/main/CS_Python1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Functions

Code block to print or implement repetative tasks so that they could be called again in a program in one line when needed

In [1]:
def hello():  # defining the function
  print("Hello")
  print("Programming is Fun!")

print(hello) # Address of function
hello()       # Calling the function or Invoking the function

<function hello at 0x7e505c8d5b40>
Hello
Programming is Fun!

Take input as User Name

print hello name

programming is fun

In [2]:
def hello(person): # Person is Argument or Parameters
  print("Hello", person)
  print("Programming is Fun!")

person = input("What's your name:")
hello(person)

What's your name:harsh
Hello harsh
Programming is Fun!

In [3]:
def hello(person): # Person is Argument
  person = input("What's your name:")
  print("Hello", person)
  print("Programming is Fun!")


hello(person)

What's your name:harsh
Hello harsh
Programming is Fun!

In [4]:
def hello(person, city): # Person and City are Arguments...can pass multiple arguments/parameters
  #person = input("What's your name:")
  #city = input("Where do you live:")
  print("Hello", person, "from", city)
  print("Programming is Fun!")

hello("Harsh", "Bareilly")  # Passing the values to the function

Hello Harsh from Bareilly
Programming is Fun!

In [5]:
def print_func(i, j):
  print("Value of i is", i)
  print("Value of j is", j)

print_func(10,20)

Value of i is 10
Value of j is 20

In [6]:
def print_func(i, j = 100):  # default value
  print("Value of i is", i)
  print("Value of j is", j)

print_func(10,20) # but we passed a number so it gets updated

Value of i is 10
Value of j is 20

In [7]:
def print_func(i, j = 100):  # default value
  print("Value of i is", i)
  print("Value of j is", j)

print_func(10)

Value of i is 10
Value of j is 100

# `Question`
to print sum of two numbers

In [ ]:
def sum(a, b):
  print("sum is", a + b)

sum(2, 4)

sum is 6

# or

In [ ]:
def sum(a, b):
  print("sum is", a + b)

a = int(input("Enter Number 1:"))
b = int(input("Enter Number 2:"))
sum(a, b)

Enter Number 1:4
Enter Number 2:9
sum is 13

In [ ]:
def Bday():
  print("Happy Birthday to You")
  print("Happy Birthday to Youuuu")

def name():
  Bday()
  print("Happy Birthday to You", n)
  print("Happy Birthday to You")

n = input("Enter Name:")

name()

Enter Name:Annu
Happy Birthday to You
Happy Birthday to Youuuu
Happy Birthday to You Annu
Happy Birthday to You

# formal parameters are local variables....accessable only in the body of function (scope of variable local or global)

In [ ]:
def func1(x,y):
  z = 4 # local variable
  print(x,y,z)

func1(1,7)

# Means Z can't be accessed outside the function

# print(z) will give error

1 7 4

In [ ]:
def func1(x,y):
  global z #globalized
  z = 4 # local variable
  print(x,y,z)

func1(1,7)
print(z)

1 7 4
4

In [ ]:
z = 8 # Global
def func1(x,y):
  z = 4 # local variable
  print(x,y,z)

func1(1,7)
print(z)

1 7 4
8

# Question 2

Write a function that takes 2 values from user and print their sum. Sum should be calculated in another function.

In [ ]:
def variable(a, b):
  a = int(input("Enter Number 1:"))
  b = int(input("Enter Number 2:"))
variable(a, b)

def sum():
  sum = a + b
  print(sum)

sum()

Enter Number 1:7
Enter Number 2:8
13

In [ ]:
def addInterest(balance, rate):
  newbalance = balance*(1+rate)
  #return newbalance

def test():
  amt = 1000
  rate = 0.05
  nb = addInterest(amt, rate)
  print(amt)

test()

1000

In [ ]:
def addInterest(balance, rate):
  newbalance = balance*(1+rate)
  return newbalance

def test():
  amt = 1000
  rate = 0.05
  nb = addInterest(amt, rate)
  print(nb)

test()

1050.0

In [ ]:
def addInterest(balance, rate):
  newbalance = balance*(1+rate)
  #return newbalance

def test():
  amt = 1000
  rate = 0.05
  nb = addInterest(amt, rate)
  print(nb)

test()

None

In [ ]:
def inc(x):
  x = x+1

  x= 1
  inc(x)

In [ ]:
def sq(n):
  square = n*n
  print(square)

n = int(input("Enter the number"))
sq(n)

Enter the number8
64

In [ ]:
def sq(n):
  square = n*n
  return square

sq(9)

81

In [ ]:
def area(l,b):
  a = l*b
  return a
print("Area of Rectangle is:")
area(9,6)

Area of Rectangle is:

54

In [ ]:
# Function to convert C to F

def celsius_to_fahrenheit(celsius):
    fahrenheit = (celsius * 9/5) + 32
    return fahrenheit

celsius = float(input("Enter temperature in Celsius: "))

fahrenheit = celsius_to_fahrenheit(celsius)
print(celsius,"degrees Celsius is equal to", fahrenheit, "degrees Fahrenheit")

Enter temperature in Celsius: 100
100.0 degrees Celsius is equal to 212.0 degrees Fahrenheit

In [ ]:
print(celsius_to_fahrenheit(35))
print(celsius_to_fahrenheit(354))
print(celsius_to_fahrenheit(325))
print(celsius_to_fahrenheit(14))
print(celsius_to_fahrenheit(16))
print(celsius_to_fahrenheit(179))
print(celsius_to_fahrenheit(98.6))

95.0
669.2
617.0
57.2
60.8
354.2
209.48

In [ ]:
def convertToGram():
  i = float(input("Enter weight in Grams:"))
  g = i * 1000
  print("Weight in grams is",g )

convertToGram()

Enter weight in Grams:75
Weight in grams is 75000.0

In [ ]:
def cov(kgwt):
  gmwt = 1000*kgwt
  return gmwt

def main():
  wt = eval(input("W in kg:"))
  gmwt = cov(wt)
  print("W in gm", gmwt)

main()

W in kg:70
W in gm 70000

# BITWISE OPERATORS

Binary AND &

In [ ]:
p = 6
q = 7
print(p&q)

6

Binary OR |

In [ ]:
p = 6
q = 7
print(p|q)

7

Binary XOR ^

In [ ]:
p = 6
q = 7
print(p^q)

1

Binary Complement ~ (Unary Operation)

In [ ]:
p = 6
q = 7
print(~p)
print(~q)

-7
-8

<< Binary Left Shift

In [ ]:
p = 6
q = 7
print(p<<q)

768

'>>' Binary Right Shift

In [ ]:
p = 6
q = 7
print(p>>q)

0

Logical and

In [ ]:
p = 6
q = 7
print(p and q)

7

Logical or

In [ ]:
p = 6
q = 7
print(p or q)

6

Logical not

In [ ]:
p = 6
q = 7
print(not(p,q))

False

In [ ]:
p = 0
q = 0
print(not(p,q))

False

In [ ]:
p = 0
q = 1
print(not(p,q))

False

In [ ]:
p = 1
q = 0
print(not(p,q))

False

Membership operators

In [ ]:
p = 7
q = [4,6,7]
print(p in q)
print(8 in q)

True
False

Operator Precedence

**

~ + -

'*' / % //

'+' -

'>>' <<

&

^ |

< = < > > =

<> == !=

= %= /= //= -= +=

is is not

in not in

not or and

If precenence is equal

Associativity ->

Left to right

'+' - * /

However some are right to left: **
2**3**2 = 2**9 = 512

# Decision Sequencing

Temperature Warning

In [ ]:
# Function to convert C to F

def celsius_to_fahrenheit():
    celsius = float(input("Enter temperature in Celsius: "))
    if celsius > 90:
      print("Too Hot")
    elif celsius < 30:
      print("Too cold")
    else:

      fahrenheit = (celsius * 9/5) + 32
      print(fahrenheit)

celsius_to_fahrenheit()

Enter temperature in Celsius: 890
Too Hot

Lexographical operation precedence

In [9]:
print("A" < "a")

True

In [10]:
print("b" < "a")

False

In [13]:
print(ord("A"))
print(ord("a"))

65
97

In [16]:
print(chr(65))
print(chr(97))

A
a

In [17]:
x = 6
if x:
  print("Inside")
print("outside")

Inside
outside

In [18]:
x = 0
if x:
  print("Inside")
print("outside")

outside

In [19]:
x = 0
if (6+8):
  print("Inside")
print("outside")

Inside
outside

In [21]:
a = 3-3
if a==0:
  print("Inside")
print("outside")

Inside
outside

In [22]:
x = "7"
y = "6"
if x is y:
  print("T")
else:
  print("F")

F

In [23]:
x = 7
y = 7
if x is y:
  print("T")
else:
  print("F")

T

In [24]:
x = "7"
y = "7"
if x is y:
  print("T")
else:
  print("F")

T

In [28]:
import math

def quad():
    a = float(input("Enter coefficient a: "))
    b = float(input("Enter coefficient b: "))
    c = float(input("Enter coefficient c: "))

    D = b**2 - 4*a*c

    if D > 0:
        x1 = (-b + math.sqrt(D)) / (2*a)
        x2 = (-b - math.sqrt(D)) / (2*a)
        print(f"Two real and distinct roots: x1 = {x1}, x2 = {x2}")
    elif D == 0:
        x1 = -b / (2*a)
        print(f"One real root: x1 = {x1}")
    else:
        r = -b / (2*a)
        i = math.sqrt(abs(D)) / (2*a)
        print(f"Complex roots: x1 = {r} + {i}i and x2 = {r} - {i}i")


quad()

Enter coefficient a: 6
Enter coefficient b: 8
Enter coefficient c: 5
Complex roots: x1 = -0.6666666666666666 + 0.6236095644623235i and x2 = -0.6666666666666666 - 0.6236095644623235i

In [34]:
import math

def quadratic():
    a = float(input("Enter coefficient a: "))
    b = float(input("Enter coefficient b: "))
    c = float(input("Enter coefficient c: "))

    D = b**2 - 4*a*c

    if D > 0:
        x1 = (-b + math.sqrt(D)) / (2*a)
        x2 = (-b - math.sqrt(D)) / (2*a)
        print(f"Two real and distinct roots: x1 = {x1}, x2 = {x2}")
    elif D == 0:
        x1 = -b / (2*a)
        print(f"One real root: x1 = {x1}")
    else:
        print("No real roots")


quadratic()

Enter coefficient a: 4
Enter coefficient b: 7
Enter coefficient c: 4
No real roots

In [36]:
def size():
  a = float(input("Enter Number 1:"))
  b = float(input("Enter Number 2:"))
  if a > b:
    print(a, "is the greater number")
  elif a < b:
    print(b, "is the greater number")
  else:
    print("Both number are Equal")

size()

Enter Number 1:7
Enter Number 2:3
7.0 is the greater number

In [38]:
def g():
  a=eval(input("Enter the no.1: "))
  b=eval(input("Enter the no.2: "))
  c=eval(input("Enter the no.3: "))

  if((a>b)and(a>c)):
    print(a)
  elif((b>a)and(b>c)):
    print(b)
  else:
    print(c)
g()

Enter the no.1: 7
Enter the no.2: 6
Enter the no.3: 9
9

In [37]:
def great():
  a=eval(input("Enter the no.1: "))
  b=eval(input("Enter the no.2: "))
  c=eval(input("Enter the no.3: "))
  print(max(a,b,c))

great()

Enter the no.1: 5
Enter the no.2: 7
Enter the no.3: 8
8

In [35]:
def greater():
  a=eval(input("Enter the no.1: "))
  b=eval(input("Enter the no.2: "))
  c=eval(input("Enter the no.3: "))

  if b<a>c:
    print(a)
  elif a<b>c:
    print(b)
  else:
    print(c)
greater()

Enter the no.1: 5
Enter the no.2: 8
Enter the no.3: 2
8